html {height: 100%;}
body {
    background-color: lightblue;
	height:100%;
	display: grid;
	grid-template-columns:  40% 60%;
	grid-template-rows:  10% 90%;
	grid-template-areas:
	"header header"
	"leftCol rightCol";
	grid-column-gap: 3px;
 }
.header{grid-area: header;}
.leftCol{grid-area: leftCol;}
.rightCol{grid-area: rightCol;}
.footer{grid-area: footer;}
.imgbtn {
  border:0;
  cursor:pointer;
  vertical-align:middle;
}
.red {color: red}
.green {color: green}
.blue {color: blue}
label {
color: #404040;
font-weight: bold;
display: block;
width: 150px;
float: left;
}
h3 {text-align:center;margin:0;padding:0}